:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --speed-animation: 250ms;

  --primary-color: #757575;
  --primari-logo-color: #000000;
  --primari-social-color: #afb1b8;
  --secondary-social-color: #ffffff;
  --bold-color: #212121;
  --white-color: #ffffff;
  --footer-color-contact: rgba(255, 255, 255, 0.6);

  --scry-sc-darck-tm-bg: rgba(255, 255, 255, 0.1);
  --secondary-bg-color: #2f303a;
  --commands-bg-color: #f5f4fa;
  --bg-botton: #f5f4fa;
  --cards-bg-color: #eeeeee;
  --prymary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --hover-btn: #188ce8;
  --header-bottom-border-color: #ececec;
  --cards-bg-hover-img: rgba(33, 150, 243, 0.9);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
}
body {
  margin: 0 auto;
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--prymary-bg-color);
}
/* ====================== COMPONENT ======================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a,
button:focus-visible {
  outline: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bold-color);
}
.menu .menu-link.current {
  color: var(--accent-color);
}
.icon {
  fill: currentColor;
}
/* ===================== /COMPONENT ======================= */
/* =================  M A I N   P A G E =================== */
/* ======================= HEADER ========================= */
.hdr {
  border-bottom: 1px solid var(--header-bottom-border-color);
}
.hdr-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  padding: 25px 0;
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primari-logo-color);
}
.logo-web {
  color: var(--accent-color);
}
.menu-link {
  position: relative;
}
.menu.list {
  display: flex;
}
.menu.list .menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--bold-color);
}
.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}
.menu-link::after {
  content: "";
  border-radius: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  opacity: 0;
}
/* .menu-link:hover::after {
  opacity: 1;
  transition: opacity var(--speed-animation) cubic-bezier(0, 4, 0, 0, 2, 1);
} */
.contact.list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact .link {
  display: inline-flex;
  align-items: center;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.tel-link,
.mail-link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.mail-icon,
.tel-icon {
  margin-right: 10px;
}
/* ====================== /HEADER ====================== */
/* ======================== HERO ======================= */
.hero {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/background-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
  text-align: center;
}
.hero-title {
  margin: 0 237px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  padding: 10px 32px;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn);
}

.data-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-backdrop);
}

.data-modal.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  border-radius: 3px;

  background-color: var(--prymary-bg-color);
}

.data-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-svg {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* ======================= /HERO ======================= */
/* ====================== FEATURES ===================== */
.features-title {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
  display: flex;
}
.features-item {
  width: calc((100% - 90px) / 4);
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.container-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--bg-botton);
  border-radius: 4px;
}
.features-list .list-title {
  margin-bottom: 10px;
}
.features .list .list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bold-color);
}
.features .list .list-text {
  font-size: 14px;
  line-height: 1.71;
}
/* ====================== /FEATURES ===================== */
/* ======================== DOING ======================= */
.section.doing {
  padding-top: 0;
}
.doing-title {
  margin-bottom: 50px;
}
.doing-list {
  display: flex;
}
.doing-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.doing-item:not(:last-child) {
  margin-right: 30px;
}
.doing-text {
  position: absolute;
  display: block;
  bottom: 0;

  width: 100%;
  height: 70px;
  padding: 27px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  background-color: var(--secondary-bg-color);
}
/* ======================== /DOING ======================= */
/* ======================== COMANDS ====================== */
.commands {
  background-color: var(--commands-bg-color);
}
.commands-title {
  margin-bottom: 50px;
}
.commands-list {
  display: flex;
}
.commands-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--prymary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.commands-item:not(:last-child) {
  margin-right: 30px;
}
.employee-data {
  padding: 30px 0;
}
.commands-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--bold-color);
}
.commands-position {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
.social-list {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .social-item:not(:last-child) {
  margin-right: 10px;
} */
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link {
  color: var(--primari-social-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.social-name {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.social-svg {
  fill: currentColor;
}
/* ======================== /COMANDS ======================= */
/* ========================  CLIENTS ======================= */
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item {
  width: calc((100% - 150px) / 6);
  display: block;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--primari-social-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--primari-social-color);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-svg {
  fill: currentColor;
}
/* ======================== /CLIENTS ======================= */
/* ======================== BASEMENT ======================= */
.basement {
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
}
.container-basement {
  display: flex;
  align-items: baseline;
}
.basement .dark-theme {
  color: var(--white-color);
}
.basement .logo {
  margin: 0 0 20px 0;
  padding: 0;
}
.cnt-address {
  font-style: normal;
}
.cnt-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.cnt .link:hover,
.cnt .link:focus {
  color: var(--accent-color);
}
.cnt-street .cnt-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.cnt-mail .cnt-link,
.cnt-tel .cnt-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color-contact);
}
.container-social {
  margin-left: 70px;
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.social-ft-link {
  background-color: var(--scry-sc-darck-tm-bg);
}
.social-ft-svg {
  fill: var(--white-color);
}
/* ======================= /BASEMENT ======================= */
/* ================= / M A I N   P A G E =================== */
/* ==================== P O R T F O L I O =================== */
/* ========================== HERO ========================== */
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-menu {
  justify-content: center;
  margin-bottom: 56px;
  display: flex;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  background: var(--bg-botton);
  color: var(--bold-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-color);
}
.cards.list {
  display: flex;
  flex-wrap: wrap;
}
.cards-item {
  width: calc((100% - 60px) / 3);
  background: var(--prymary-bg-color);
}
.cards-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.cards-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.cards-link {
  display: block;
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-container-img {
  position: relative;
  overflow: hidden;
}
.cards-text {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translate(0, 100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: var(--cards-bg-hover-img);
}
.cards-link:hover .cards-text,
.cards-link:focus .cards-text {
  transform: translate(0, 0);
}
.cards-list-tile {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--bold-color);
}
.project-data {
  padding: 20px 24px;
  border: 1px solid var(--cards-bg-color);
  border-top: none;
}
.cards-description {
  line-height: 1.9;
  color: var(--primary-color);
}
/* ========================= /HERO ========================== */
/* =================== / P O R T F O L I O ================== */
